var/backups export-ignore
var/cache export-ignore
var/log export-ignore
var/package export-ignore
var/report export-ignore
var/session export-ignore
var/session/resource_config.json export-ignore
media/catalog/product/cache export-ignore
build export-ignore
media/catalog/product/ export-ignore
media/downloadable/downloadable/ export-ignore
/intro export-ignore
intropage.html export-ignore
/Design export-ignore
db/codazon_export_demo.sh export-ignore
db/codazon_setup_demo.sh export-ignore
db/export.bat export-ignore
db/setup_dev.bat export-ignore
adminer-4.2.1.php export-ignore
adminer.php export-ignore
