<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Codazon_Slideshow>
			<version>0.1.0</version>
		</Codazon_Slideshow>
	</modules>
	<frontend>
		<layout>
			<updates>
				<slideshow>
					<file>codazon_slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<slideshow>
				<class>Codazon_Slideshow_Helper</class>
			</slideshow>
		</helpers>
		<blocks>
			<slideshow>
				<class>Codazon_Slideshow_Block</class>
			</slideshow>
		</blocks>
		<models>
			<slideshow>
				<class>Codazon_Slideshow_Model</class>
				<resourceModel>slideshow_mysql4</resourceModel>
			</slideshow>
			<slideshow_mysql4>
				<class>Codazon_Slideshow_Model_Mysql4</class>
				<entities>
					<slideshow>
						<table>cdz_slideshow</table>
					</slideshow>
				</entities>
			</slideshow_mysql4>
		</models>
		<resources>
			<slideshow_setup>
				<setup>
					<module>Codazon_Slideshow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slideshow_setup>
			<slideshow_write>
				<connection>
					<use>core_write</use>
				</connection>
			</slideshow_write>
			<slideshow_read>
				<connection>
					<use>core_read</use>
				</connection>
			</slideshow_read>
		</resources>
	</global>
	<admin>
		<routers>
			<slideshow>
				<use>admin</use>
				<args>
					<module>Codazon_Slideshow</module>
					<frontName>admin_slideshow</frontName>
				</args>
			</slideshow>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<themeframework module="slideshow">
				<title>Codazon Theme</title>
				<sort_order>100</sort_order>
				<children>
					<slideshow module="slideshow">
						<title>Slideshow</title>
						<sort_order>100</sort_order>
						<children>
							<slideshow module="slideshow">
								<title>Manage slideshow</title>
								<sort_order>0</sort_order>
								<action>admin_slideshow/adminhtml_slideshow</action>
							</slideshow>
						</children>
					</slideshow>
				</children>
			</themeframework>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<themeframework_setting translate="title" module="slideshow">
							<title>Codazon Theme</title>
							<sort_order>1000</sort_order>
							<children>
								<slideshow translate="title" module="slideshow">
									<title>Slideshow</title>
									<sort_order>1000</sort_order>
									<children>
										<slideshow translate="title">
											<title>Manage slideshow</title>
											<sort_order>0</sort_order>
										</slideshow>
									</children>
								</slideshow>
							</children>
						</themeframework_setting>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slideshow>
					<file>codazon_slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</adminhtml>
</config>