/* ============================================ *
 * Codazon_BlockSidebar
 * ============================================ */
.cdz-block-title {
  text-align: center;
  margin-bottom: 20px;
}
.cdz-block-title .b-title {
  padding: 0 30px 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-width: 310px;
  text-transform: uppercase !important;
  font-weight: 400;
  border-bottom:1px solid;
  
}
.cdz-block-title .b-title strong {
  font-size: 100%;
}
.cdz-block-title .b-title:before {
  position: absolute;
  bottom: -11px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f219';
  font-size: 14px;
  left: 40%;
  left: calc(50% - 20px);
  -webkit-left: calc(50% - 20px);
  -o-left: calc(50% - 20px);
  -moz-left: calc(50% - 20px);
}
/*Block Sidebar*/
.block:not(.block-static-block) {
  margin-bottom: 2rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border:0;
}
.block:not(.block-static-block) .block-collapsible-nav-title,
.block:not(.block-static-block) .block-title {
  background-color:transparent;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  margin-bottom: 0;
  min-width: 100%;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border-bottom:1px solid;
}
.block-title{border-top:0}
.block:not(.block-static-block) .block-collapsible-nav-title:before,
.block:not(.block-static-block) .block-title:before {
  display: none;
}
.block:not(.block-static-block) .block-collapsible-nav-title strong,
.block:not(.block-static-block) .block-title strong {
  border: 0;
  padding-bottom: 10px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
}
.block:not(.block-static-block) .block-content {
  padding: 15px 0;
  text-align: left;
  clear:left
}
.block:not(.block-static-block) .block-content .empty {
  padding: 0;
}
.block:not(.block-static-block) .block-content.filter-content {
  padding-top: 0;
}
.block:not(.block-static-block) .empty {
  padding: 15px 0 0;
}
.block.review-add .block-content {
  padding-top: 0 !important;
}

.sidebar .block-currency select{width:100%;}
.sidebar .block-banner .block-content{padding:0}
.sidebar .block:not(.block-static-block) .block-content{padding-bottom:0}
.sidebar .block {
	.actions .button {
		padding:3px 5px;
	}
	dl{margin:0}
}

/*Box Style Home Sport*/
.box-style01{
	margin-bottom:20px;
	.cdz-block-title{
		padding:20px 20px 7px;
		margin-bottom:-1px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-align:inherit;
		.h2{
			font:$f_h3;
		}
		a.view-all{
			text-transform:lowercase;
			font-style: italic;
			font-size:70%;
			float:right;
			margin-top:3px;
			margin-right:-15px;
			&:after{
				@include font-awesome(\f178,14px);
				margin:0 15px;
			}
		}
	}
	.codazon-filter{padding:0;}
	.products-grid{
		border-left:1px solid;
		.owl-carousel{margin:0;}
		.product-item{
			padding:0!important;
			margin:0 0 -1px;
			.product-item-info{
				border:1px solid;
				border-left:none;
			}
		}
		&:after{display:none;}
	}
	/*.box-content{overflow:hidden;}*/
	.products-list{
		.product-item-info{padding:0 10px}
		.cdz-buttons-container button.btn-cart{
			width:auto;
			height:auto;
			padding: 7px 10px 4px;
			&:before{display:none;}
		}
	}
	.mobile-nav-tab-dropdown{
		margin:0 0 -1px;
	}
	.nav.nav-tabs{
		text-align: inherit;
		margin:0 0 -1px;
		.nav-tab-item .switch{
			height:60px;
			padding: 19px 20px;
			text-transform:uppercase;
			border:none!important;
		}
	}	
	.nav-tab-content{padding:0;}
	&.cdz-wapper-blog-01{
		.cdz_wapper-blog-content{
			padding:20px;
			.cdz-blog-bottom{
				padding:20px 0;
			}
			.owl-carousel .owl-stage-outer{
				padding:0;
			}
			.owl-theme {
				&.owl-carousel .owl-nav{position:static; left:auto; width:auto; top:auto;}
				.owl-nav [class*=owl-]{
					width:30px;
					height:30px;
					top:-65px;
					position:absolute;
					@include border-radius(0);
					padding:4px 7px;
					margin:0;
					&.owl-next{
						right:0px;
						left:auto;
						&:before{
							content:"\f178";
							line-height: 21px;
							font-size: 14px;
						}
						.cdz-rtl &{
							left:35px;
							right:auto;
						}
					}
					&.owl-prev{
						right:40px;
						left:auto;
						&:before{
							content:"\f177";
							line-height: 21px;
							font-size: 14px;
						}
						.cdz-rtl &{
							left:-5px;
							right:auto;
						}
					}
				}
			}
		}
	}
	
	/*RTL*/
	.cdz-rtl &{
		.cdz-block-title a.view-all{
			float:left;
			margin-left: -15px;
			margin-right: 0;
		}
	}
}
@media (min-width: 767px){
	.box-style01:not(.product-style02){
		.owl-nav [class*='owl-'], 
		.owl-theme .owl-nav [class*=owl-]{
			width:30px;
			height:30px;
			top:-45px;
			@include border-radius(0);
			&.owl-next{
				right:10px;
				&:before{
					content:"\f178";
					line-height: 21px;
					font-size: 14px;
				}
				.cdz-rtl &{
					left:50px;
					right:auto;
				}
			}
			&.owl-prev{
				right:50px;
				left:auto;
				&:before{
					content:"\f177";
					line-height: 21px;
					font-size: 14px;
				}
				.cdz-rtl &{
					left:10px;
					right:auto;
				}
			}
		}
	}
}


/*Product style 02 - Product name fixed left & price fixed right*/
@media (min-width: 767px){
.product-style02{
	.products-grid{
		.product-item-info{
			text-align:inherit;
			.product-name-price{
				position:relative;
				.product-name{
					padding-right:100px;
				}
				.price-box{
					position:absolute;
					right:0px;
					top:0px;
					margin:0;
					width:95px;
					text-align:right;
				}
			}
		}
	}
}
}

/*Style Home Outdoor*/
.line-style01{
	.cdz-block-title{
		text-align: inherit;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		.b-title{
			padding: 10px 20px;
			min-width:1px;
			border:1px solid;
			margin-bottom:-2px;
			&:before{display:none;}
		}
	}
	.nav-tabs{
		border-bottom-width: 2px!important;
		text-align: inherit;
		.nav-tab-item .switch{
		    text-transform: uppercase;
			border-radius:0;
			height: 45px;
			padding: 12px 10px;
			margin-bottom: -2px;
		}
	}
	.products-grid .item{
		padding-left:0!important;
		padding-right:0!important;
		margin-left:0!important;
		margin-right:0!important;
	}
}