/* ============================================ *
 * Codazon_Theme_Var
 * ============================================ */
//Font
$f_default: 400 13px/1.55 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h1: 500 22px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h2: 500 20px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h3: 500 18px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h4: 500 16px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h5: 500 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_h6: 500 12px/1.55 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
$f_special: 400 25px/1.35 Bentham, Helvetica Neue, Verdana, Arial, sans-serif;
$f_note: 500 12px/1.55 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

// Border Radius
$border_radius: 5px;
$box-shadow: 0px 0px 0px 1px rgba(50, 50, 50, 0.1);

//Page
$page_background:#c20000;

//Header
$header_background: #302f33;
$header_top_background: #393737;
$header_top_text: #8b8b8b;
$header_text:#ffffff;
$header_hover_text:#c20000;
$header_border: #1d2c35;

$header_logo_background: #ae0000;
$header_logo2_background: #c80000;

$header_cart_background:#393737;
$header_text_cart:#ffffff;
$header_search_text:#999;
$header_search_background:#ffffff;
$header_search_dropdown_background:#f6f6f6;

$header_drop_text:#999;
$header_drop_background:#ffffff;

//Menu
$menu_background:#c20000;
$menu_hover_background:#ae0000;
$menu_text:#ffffff;
$menu_hover_text:#ffffff;
$menu_border:#282828;
$menu_font: 400 16px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$menu_drop_background:#ffffff;
$menu_drop_hover_background: #f8f8f8;
$menu_drop_text_title: #282828;
$menu_drop_text:#282828;
$menu_drop_hover_text:#c20000;
$menu_drop_border:#e1e1e1;
$menu_drop_font:400 12px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

//Menu Vertical
$menu_vertical_background:#f64400;
$menu_vertical_hover_background:#fc6e00;
$menu_vertical_text:#ffffff;
$menu_vertical_hover_text:#ffffff;
$menu_vertical_border:#f64400;
$menu_vertical_font: 400 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$menu_vertical_drop_background:#ffffff;
$menu_vertical_drop_hover_background: #ffffff;
$menu_vertical_drop_text_title: #282828;
$menu_vertical_drop_text:#999999;
$menu_vertical_drop_hover_text:#fc6e00;
$menu_vertical_drop_border:#ebebeb;
$menu_vertical_drop_font: 400 12px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;


//Main Content
$main_background:#ffffff;
$main_page_text_color:#282828;
$main_block_background:#ffffff;
$main_block_title_background:#c20000;
$main_block_title_color: #ffffff;
$main_block_text_background:#121212;
$main_block_title_border:#d3ced2;

$main_text:#282828;
$main_hover_text:#c20000;
$main_title_text:#282828;
$main_alink_text:#282828;
$main_note_text:#999;
$main_productname_text:#282828;
$main_price_text:#000;
$main_old_price_text:#d0d0d0;
$main_hover_text_box:#ffffff;
$main_border:#e1e1e1;
$main_border_dark:#282828;
$main_title_border:#d3ced2;

//Block Product
$main_product_hover_background:#f9f9f9;
$main_product_hover_price:#282828;


$main_tab_background:#d3ced2;
$main_tab_hover_background:#c20000;
$main_tab_text:#fff;
$main_tab_hover_text:#fff;
$main_tab_border:#d3ced2;

//Footer
$footer_background: #222222;
$footer_top_background: rgba(71, 67, 81, 0.2);
$footer_bottom_background: rgba(71, 67, 81, 0.2);
$footer_text:#777777;
$footer_title_text:#ffffff;
$footer_hover_text:#ffffff;
$footer_border:#444444;

//Input form-list
$label_background: #e1e1e1;
$label_text:#999999;
$label_text_focus:#ffffff;
$input_background:#ffffff;
$input_border:#e1e1e1;
$input_border_focus: #282828;
$input_text: #999999;

//My account
$menu_myaccount_background:#ae0000;
$menu_myaccount_hover_background:#c20000;
$menu_myaccount_text:#ffffff;
$menu_myaccount_hover_text:#ffffff;
$menu_myaccount_border:#8E0303;
$menu_myaccount_font: 500 12px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;


//Button
$btn_default_background: #c20000;
$btn_default_text: #ffffff;
$btn_default_border: #c20000;
$btn_default_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$btn_primary_background: #ffffff;
$btn_primary_text: #9f0000;
$btn_primary_border: #9f0000;
$btn_primary_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$btn_secondary_background: #9f0000;
$btn_secondary_text: #ffffff;
$btn_secondary_border: #9f0000;
$btn_secondary_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$btn_slider_background: #ffffff;
$btn_slider_text: #282828;
$btn_slider_border: #282828;
$btn_slider_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

//Home Blog
$blog_background:#ffffff;
$blog_text:#282828;
$blog_text_hover:#fc7070;
$blog_title_color:#666972;
$blog_title_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;;
$blog_background:#ffffff;
$blog_text_font: 500 12px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;;

//Slideshow desc
$slideshow_background: #ffffff;
$slideshow_text: #282828;
$slideshow_border: #282828;
$slideshow_background_button: #282828;
$slideshow_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$btn_productitem_background: transparent;
$btn_productitem_text: #ffffff;
$btn_productitem_border: #ffffff;
$btn_productitem_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

$btn_hover_background: #282828;
$btn_hover_text: #ffffff;
$btn_hover_border: #282828;
$btn_hover_font: 600 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;

/*Label product*/
$label_new_background:#008ae2;
$label_sale_background:#830000;
$label_product_text:#ffffff;

/*Setting padding for template*/
$indent__base: 20px; // 20px
$indent__xl: $indent__base * 2; // 40px
$indent__l: $indent__base * 1.5; // 30px
$indent__m: $indent__base * 1.25; // 25px
$indent__s: $indent__base / 2; // 10px
$indent__xs: $indent__base / 4; // 5px

/*Spacing for each area*/
$cdz_space_area: 60px;
$cdz_space_small_area: 20px;

@mixin transition1{
	-moz-transition: all 400ms ease;
	-webkit-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin opacity-extention($opacity) {
  opacity: $opacity !important;
  // IE8 filter
  $opacity-ie: ($opacity * 100) !important;
  filter: #{alpha(opacity=$opacity-ie)} !important;
}
@mixin font-awesome($font,$font-size){
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:"#{$font}";
	font-size:$font-size;
}
@mixin bg-white-shadow{
	background:$main_block_background;
	padding:20px;  
	-webkit-box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	-moz-box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
@mixin dropdown-white-shadow{
	background:$main_block_background;
	-webkit-box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	-moz-box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	box-shadow: 1px 3px 1px rgba(50, 50, 50, 0.04);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}


@mixin none-bg-white-shadow{
	background-color: transparent;
	padding:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

@mixin position_type($position_value, $hoz, $px_hoz, $ver, $px_ver){
	position:$position_value;
	#{$hoz}:$px_hoz;
	#{$ver}:$px_ver;
}



@mixin border-radius($radius){
	-moz-border-radius:$radius; 
	-webkit-border-radius:$radius; 
	border-radius:$radius;
}

@mixin hideText(){
    font-size:0; 
 	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
}

@mixin abs_main_background_shadow{
	background:$main_block_background;
	padding:20px; 
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
@mixin abs_none_main_background_shadow{
	background-color: transparent;
	padding:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border:0;
}
/*update 04/14*/